{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    <div class="bag-container">
        <div class="bag-header-section">
            <hr>
            <h2 class="bag-title">Shopping Bag</h2>
            <hr>
        </div>

        <div class="bag-content">
            {% if bag_items %}
                <div>
                    <table class="bag-table">
                        <thead class="table-header">
                            <tr>
                                <th>Product Info</th>
                                <th></th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="product-image-cell">
                                </td>
                                <td class="product-info-cell">
                                </td>
                                <td class="product-price-cell">
                                    <p class="price-text">${{ item.product.price }}</p>
                                </td>
                                <td class="quantity-cell">
                                </td>
                                <td class="subtotal-cell">
                                    <p class="subtotal-text">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="bag-total-cell">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="checkout-buttons-cell">
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="empty-bag-text">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="keep-shopping-btn">
                    <span class="icon"><i class="arrow-left-icon"></i></span>
                    <span class="button-text">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
