{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<meta name="description" content="Discover premium nutrition for everyone. Shop our selection of vitamins, supplements, and protein powders to support your health and wellness goals.">
<meta name="keywords" content="nutrition, vitamins, supplements, protein powders, health, wellness, premium nutrition, superfoods, bioactives, fitness">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>Premium Nutrition for Everyone | Supplemint</title>
{% endblock %}

{% block extra_css %}
<!-- Include custom CSS for the index page -->
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero">
    <div class="hero-content">
        <h1 class="hero-title">
            Premium Nutrition for Everyone
        </h1>
        <p class="hero-subtitle">
            Discover our premium selection of vitamins, supplements and protein powders -
            carefully curated to support your health and wellness goals.
        </p>
        <div class="hero-button">
            <p>
                <a href="{% url 'products' %}" class="btn">Shop Now</a>
            </p>
        </div>
    </div>
</div>

<!-- Categories Section -->
<h2 class="index-h2">Categories</h2>
<div class="categories-container">
    <a href="{% url 'category_products' 'vitamins' %}" class="category-card">
        <h3 class="category-title">Vitamins</h3>
        <p class="category-description">Reach your health goals with high-quality vitamins.</p>
    </a>
    <a href="{% url 'category_products' 'proteins' %}" class="category-card">
        <h3 class="category-title">Proteins</h3>
        <p class="category-description">Build muscle mass with high-quality protein sources.</p>
    </a>
    <a href="{% url 'category_products' 'bioactives' %}" class="category-card">
        <h3 class="category-title">Bioactives</h3>
        <p class="category-description">Elevate your health with bioactives.</p>
    </a>
    <a href="{% url 'category_products' 'superfoods' %}" class="category-card">
        <h3 class="category-title">Superfoods</h3>
        <p class="category-description">Harness the power of nature with superfoods for your health.</p>
    </a>
</div>

<!-- Recommended Products Section -->
<h2 class="index-h2">Recommended Products</h2>
<div class="product-tile-container">
    <div class="product-tile-grid">
        {% for product in random_products %}
        <div class="product-card">
            <div class="image-wrapper">
                {% if product.get_sale_price %}
                <span class="sale-badge">{{ product.sale.discount_percentage|floatformat:0 }}% OFF</span>
                {% endif %}
                {% if product.image %}
                {% if product.subcategory %}
                <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% else %}
                {% if product.subcategory %}
                <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% endif %}
            </div>

            <!-- Product Details (Name, Description, Rating, Price, Add to Cart) -->
            <div class="product-details">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-description">{{ product.description }}</p>
                {% if product.rating %}
                <p class="product-rating" data-rating="{{ product.rating }}"></p>
                {% else %}
                <p class="product-rating">No Rating</p>
                {% endif %}
                <div class="price-bag-container">
                    <p class="product-price">${{ product.base_price }}</p>
                    <form class="add-to-cart-form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if product.has_sizes %}
                        {% for size in product.sizes.all %}
                        {% if size.price == product.base_price %}
                        <input type="hidden" name="product_size" value="{{ size.name }}">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="submit" class="custom-button add-to-bag" value="+">
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>
</div>

<!-- Newsletter Signup Section -->
<h2 class="index-h2">Newsletter</h2>
<div class="newsletter-container">
    <h2 class="newsletter-title">Sign up for our Newsletter!</h2>
    <p class="newsletter-description">Get exclusive offers and news directly to your inbox.</p>
    <form class="newsletter-form" method="POST" action="{% url 'newsletter_subscribe' %}">
        {% csrf_token %}
        <input type="email" class="newsletter-input" name="email" aria-label="email" placeholder="Your email address" required>

        {% if form.email.errors %}
        <div class="error-message">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/product_rating.js' %}"></script>
{% endblock %}