<div class="nav-container">
    <button class="nav-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="main-nav">
        <li class="nav-item">
            <a href="{% url 'products' %}" class="nav-link">All products</a>
            <div class="dropdown-content" aria-labelledby="sort-menu">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-link">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-link ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-link ">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'vitamins' %}" class="nav-link" id="vitamins-menu">Vitamins</a>
            <div class="dropdown-content" aria-labelledby="vitamins-menu">
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Vitamin A</a>
                <a href="{% url 'products' %}?subcategory=vitamin_b" class="dropdown-link">Vitamin B Complex</a>
                <a href="{% url 'products' %}?subcategory=vitamin_c" class="dropdown-link">Vitamin C</a>
                <a href="{% url 'products' %}?subcategory=vitamin_d" class="dropdown-link">Vitamin D</a>
                <a href="{% url 'products' %}?subcategory=vitamin_e" class="dropdown-link">Vitamin E</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'proteins' %}" class="nav-link" id="proteins-menu">Proteins</a>
            <div class="dropdown-content" aria-labelledby="proteins-menu">
                <a href="{% url 'products' %}?subcategory=whey_protein" class="dropdown-link">Whey Protein</a>
                <a href="{% url 'products' %}?subcategory=plant_base_protein" class="dropdown-link">Plant-Based Protein</a>
                <a href="{% url 'products' %}?subcategory=casein_protein" class="dropdown-link">Casein Protein</a>
                <a href="{% url 'products' %}?subcategory=egg_protein" class="dropdown-link">Egg Protein</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'bioactives' %}" class="nav-link" id="vitalstoffe-menu">Vitalstoffe</a>
            <div class="dropdown-content" aria-labelledby="vitalstoffe-menu">
                <a href="{% url 'products' %}?subcategory=minerals" class="dropdown-link">Minerals</a>
                <a href="{% url 'products' %}?subcategory=trace_elements" class="dropdown-link">Trace Elements</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'superfoods' %}" class="nav-link" id="superfood-menu">Superfood</a>
            <div class="dropdown-content" aria-labelledby="superfood-menu">
                <a href="{% url 'products' %}?subcategory=chia_seeds" class="dropdown-link">Chia Seeds</a>
                <a href="{% url 'products' %}?subcategory=quinoa" class="dropdown-link">Quinoa</a>
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Spirulina</a>
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Maca Root</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'herbs_extracts' %}" class="nav-link" id="herbs-menu">Herbs & Extracts</a>
            <div class="dropdown-content" aria-labelledby="herbs-menu">
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Ginseng</a>
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Turmeric</a>
                <a href="{% url 'products' %}?subcategory=vitamin_a" class="dropdown-link">Ginger</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'blog' %}" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
        </li>
    </ul>
</div>
