<div class="nav-container">
    <button class="nav-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="main-nav">
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'vitamins' %}" class="nav-link" id="vitamins-menu">Vitamins</a>
            <div class="dropdown-content" aria-labelledby="vitamins-menu">
                <a href="{% url 'subcategory_products' 'vitamins' 'vitamin-a' %}" class="dropdown-link">Vitamin A</a>
                <a href="{% url 'subcategory_products' 'vitamins' 'vitamin-b' %}" class="dropdown-link">Vitamin B</a>
                <a href="{% url 'subcategory_products' 'vitamins' 'vitamin-c' %}" class="dropdown-link">Vitamin C</a>
                <a href="{% url 'subcategory_products' 'vitamins' 'vitamin-d' %}" class="dropdown-link">Vitamin D</a>
                <a href="{% url 'subcategory_products' 'vitamins' 'vitamin-e' %}" class="dropdown-link">Vitamin E</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'proteins' %}" class="nav-link" id="proteins-menu">Proteins</a>
            <div class="dropdown-content" aria-labelledby="proteins-menu">
                <a href="{% url 'subcategory_products' 'proteins' 'whey-protein' %}" class="dropdown-link">Whey Protein</a>
                <a href="{% url 'subcategory_products' 'proteins' 'plant-base-protein' %}" class="dropdown-link">Plant-Based</a>
                <a href="{% url 'subcategory_products' 'proteins' 'casein-protein' %}" class="dropdown-link">Casein Protein</a>
                <a href="{% url 'subcategory_products' 'proteins' 'egg-protein' %}" class="dropdown-link">Egg Protein</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'bioactives' %}" class="nav-link" id="vitalstoffe-menu">Vitalstoffe</a>
            <div class="dropdown-content" aria-labelledby="vitalstoffe-menu">
                <a href="{% url 'subcategory_products' 'bioactives' 'minerals' %}" class="dropdown-link">Minerals</a>
                <a href="{% url 'subcategory_products' 'bioactives' 'trace-elements' %}" class="dropdown-link">Trace Elements</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'superfoods' %}" class="nav-link" id="superfood-menu">Superfood</a>
            <div class="dropdown-content" aria-labelledby="superfood-menu">
                <a href="{% url 'subcategory_products' 'superfoods' 'chia-seeds' %}" class="dropdown-link">Chia Seeds</a>
                <a href="{% url 'subcategory_products' 'superfoods' 'quinoa' %}" class="dropdown-link">Quinoa</a>
                <a href="{% url 'subcategory_products' 'superfoods' 'spirulina' %}" class="dropdown-link">Spirulina</a>
                <a href="{% url 'subcategory_products' 'superfoods' 'maca-root' %}" class="dropdown-link">Maca Root</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'category_products' 'herbs-extracts' %}" class="nav-link" id="herbs-menu">Herbs &
                Extracts</a>
            <div class="dropdown-content" aria-labelledby="herbs-menu">
                <a href="{% url 'subcategory_products' 'herbs-extracts' 'ginseng' %}" class="dropdown-link">Ginseng</a>
                <a href="{% url 'subcategory_products' 'herbs-extracts' 'turmeric' %}" class="dropdown-link">Turmeric</a>
                <a href="{% url 'subcategory_products' 'herbs-extracts' 'ginger' %}" class="dropdown-link">Ginger</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'blog' %}" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
        </li>
    </ul>
</div>