{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block extra_title %}| Sign In{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="entrance-wrapper">
        <div class="auth-container">
            {% element h1 %}
                {% trans "Sign In" %}
            {% endelement %}

            {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                {% element p %}
                    {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
                {% endelement %}

                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" class="auth-form" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group {% if field.name == 'remember' %}checkbox-group{% endif %}">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" tags="prominent,login" class="auth-button" %}
                            {% trans "Sign In" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}

            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                <div class="auth-divider">
                    <span>{% trans "Or" %}</span>
                </div>
                <div class="social-buttons">
                    {% if PASSKEY_LOGIN_ENABLED %}
                        {% element button type="submit" form="mfa_login" id="passkey_login" class="social-button" %}
                            <i class="fas fa-key"></i>
                            {% trans "Sign in with a passkey" %}
                        {% endelement %}
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        {% element button href=request_login_code_url class="social-button" %}
                            <i class="fas fa-envelope"></i>
                            {% trans "Mail me a sign-in code" %}
                        {% endelement %}
                    {% endif %}
                </div>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
