{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}| Password Changed{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="entrance-wrapper">
        <div class="auth-container">
            <h1>{% trans "Password Changed" %}</h1>
            
            <div class="auth-message success-message">
                <i class="fas fa-check-circle"></i>
                <p>{% trans 'Your password has been successfully changed.' %}</p>
            </div>
            
            <div class="auth-actions auth-actions-center">
                <a href="{% url 'account_login' %}" class="auth-button auth-button-flex">
                    <i class="fas fa-sign-in-alt auth-button-icon"></i>
                    <span>{% trans 'Return to Login' %}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
