{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/1d63fa792f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Supplemint {% block extra_title %}{% endblock %}</title>

</head>

<body>
    <header class="header-container">
        <div id="delivery-banner">
            <div>
                <h4>Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
        <div class="header-row">
            <div class="logo-section">
                <a href="{% url 'home' %}" class="logo-link">
                    <h2 class="brand-name">Supplemint</h2>
                </a>
            </div>
            <div class="search-section">
                <form method="GET" action="{% url 'products' %}" class="search-form">
                    <input class="search-input" type="text" name="q" placeholder="Search...">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search search-icon"></i>
                    </button>
                </form>
            </div>
            <div class="user-section">
                <ul class="user-menu">
                    <li class="user-item dropdown">
                        <a class="account-link" href="#" id="account-menu">
                            <div class="account-info">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <a href="{% url 'profile' %}" class="account-text">My Account</a>
                            </div>
                        </a>
                        <div class="dropdown-content" aria-labelledby="account-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-link">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-link">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-link">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-link">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-link">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="user-item">
                        <a class="{% if grand_total %}highlighted-link{% else %}normal-link{% endif %}"
                            href="{% url 'view_bag' %}">
                            <div class="cart-info">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="cart-text">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-row">
            <nav>
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const toasts = document.querySelectorAll('.toast-container');
    
            toasts.forEach(toast => {
                setTimeout(() => {
                    toast.style.opacity = '0';
                    toast.style.transform = 'translateY(-20px)';
                    setTimeout(() => {
                        toast.style.display = 'none';
                    }, 300);
                }, 3000);
            });
        });
    </script>
    {% endblock %}

</body>

</html>