{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="reviewModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalContent"></div>
    </div>
</div>
<div class="overlay"></div>
<div class="product-detail-container">
    <div class="product-detail-row">
        <div class="product-image-section">
            <div class="image-wrapper">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="No image available">
                </a>
                {% endif %}
                {% if product.get_sale_price %}
                <span class="sale-badge">{{ product.sale.discount_percentage|floatformat:0 }}% OFF</span>
                {% endif %}
            </div>
        </div>
        <div class="product-info-section">
            <div class="product-details">
                <h2 class="product-name">{{ product.name }}</h2>
                <div class="product-price" id="product-price">
                    {% if product.get_sale_price %}
                    <span class="original-price">${{ product.base_price }}</span>
                    <span class="sale-price">${{ product.get_sale_price }}</span>
                    {% else %}
                    <span>${{ product.base_price }}</span>
                    {% endif %}
                </div>
                {% if product.category %}
                <p class="product-category">
                    <a
                        href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="product-rating"><i class="fas fa-star"></i> {{ product.rating }} / 5</small>
                {% else %}
                <small class="product-rating">No Rating</small>
                {% endif %}
                <p class="product-description">{{ product.description }}</p>

                <form class="custom-form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-section">
                        {% if product.has_sizes %}
                        <div class="size-selector-container">
                            <select class="size-selector" name="product_size" id="id_product_size" required>
                                <option value="">Select Size</option>
                                {% for size in product.sizes.all %}
                                <option value="{{ size.name }}" data-price="{{ size.price }}"
                                    {% if size.stock == 0 %}disabled{% endif %}>
                                    {{ size.name }} - ${{ size.price }}
                                    {% if size.stock == 0 %}
                                    (Out of Stock)
                                    {% else %}
                                    ({{ size.stock }} in stock)
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <div class="stock-info">
                            {% if product.stock > 0 %}
                            <p class="in-stock">{{ product.stock }} in stock</p>
                            {% else %}
                            <p class="out-of-stock">Out of Stock</p>
                            {% endif %}
                        </div>
                        {% endif %}
                        <p class="quantity-label"><strong>Quantity:</strong></p>
                        <div class="quantity-wrapper">
                            <input class="quantity-input" type="number" name="quantity" value="1" min="1" max="99"
                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                    </div>

                    <div class="form-buttons">
                        <a href="{% url 'products' %}" class="custom-link keep-shopping">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="link-text">Keep Shopping</span>
                        </a>
                        <input type="submit" class="custom-button add-to-bag" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <div class="product-detailed-description">
        <h3>Description</h3>
        <p>{{ product.detailed_description|safe }}</p>
    </div>
    <div class="product-ingredients-dropdown-container">
        <button class="dropdown-button" onclick="toggleDropdown('info-content')">
            <span>Product Information</span>
            <i class="fas fa-chevron-down"></i>
        </button>
        <div id="info-content" class="dropdown-product-content">
            <div class="info-grid">
                <div class="nutritional-info">
                    <h4>Nutritional Information</h4>
                    <div>{{ product.nutritional_info|safe }}</div>
                </div>

                <div class="divider-vertical"></div>

                <div class="consumption-info">
                    <h4>How to Use</h4>
                    <p>{{ product.how_to_use }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-key-facts">
        <h3>Key Benefits</h3>
        <div class="facts-grid">
            {% for fact in product.key_facts %}
            <div class="fact-card">
                <i class="fas {{ fact.icon }}"></i>
                <h4>{{ fact.heading }}</h4>
                <p>{{ fact.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="product-reviews">
        <h3>Customer Reviews</h3>
        <div class="reviews-header">
            {% if user.is_authenticated and not user_has_reviewed %}
            <button onclick="addReview('{{ product.id }}')" class="btn btn-primary">Write a Review</button>
            {% endif %}

            <select id="review-sort" class="form-select" onchange="sortReviews(this.value)">
                <option value="newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>Newest First</option>
                <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>Oldest First</option>
                <option value="rating_high" {% if request.GET.sort == 'rating_high' %}selected{% endif %}>Highest Rating
                </option>
                <option value="rating_low" {% if request.GET.sort == 'rating_low' %}selected{% endif %}>Lowest Rating
                </option>
            </select>
        </div>

        <div class="reviews-container">
            {% include 'reviews/partials/review_list.html' %}
        </div>
    </div>
    <div class="product-bought-together">
        <h3>Frequently Bought Together</h3>
        <div class="detail-product-grid">
            {% for product in random_products %}
            <div class="product-card">
                <a href="#">
                    <div class="image-wrapper">
                        {% if product.get_sale_price %}
                        <span class="sale-badge">{{ product.sale.discount_percentage|floatformat:0 }}% OFF</span>
                        {% endif %}
                        {% if product.image %}
                        {% if product.subcategory %}
                        <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        {% else %}
                        {% if product.subcategory %}
                        <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                            <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                            <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </a>
                <div class="product-details">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-description">{{ product.description }}</p>
                    {% if product.rating %}
                    <p class="product-rating" data-rating="{{ product.rating }}"></p>
                    {% else %}
                    <p class="product-rating">No Rating</p>
                    {% endif %}
                    <div class="price-bag-container">
                        <p class="product-price">${{ product.base_price }}</p>
                        <form class="add-to-cart-form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            {% if product.has_sizes %}
                            {% for size in product.sizes.all %}
                            {% if size.price == product.base_price %}
                            <input type="hidden" id="product-size" name="product_size" value="{{ size.name }}">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <input type="submit" class="custom-button add-to-bag" value="+">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    function toggleDropdown(id) {
        const content = document.getElementById(id);
        const allDropdowns = document.querySelectorAll('.dropdown-product-content');
        const button = content.previousElementSibling;
        const icon = button.querySelector('i');

        allDropdowns.forEach(dropdown => {
            if (dropdown.id !== id && dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
                dropdown.previousElementSibling.querySelector('i').classList.remove('fa-chevron-up');
                dropdown.previousElementSibling.querySelector('i').classList.add('fa-chevron-down');
            }
        });

        if (content.style.display === 'block') {
            content.style.display = 'none';
            icon.classList.remove('fa-chevron-up');
            icon.classList.add('fa-chevron-down');
        } else {
            content.style.display = 'block';
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-up');
        }
    }
</script>
<script>
    const modal = document.getElementById("reviewModal");
    const span = document.getElementsByClassName("close")[0];
    const csrfToken = "{{ csrf_token }}";

    function openModal() {
        modal.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
    }

    span.onclick = closeModal;

    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal();
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function addReview(productId) {
        fetch(`/reviews/add/${productId}/`)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.form_html) {
                    document.getElementById('modalContent').innerHTML = data.form_html;
                    openModal();
                    setupFormSubmitHandler(productId);
                }
            });
    }

    function setupFormSubmitHandler(productId) {
        const form = document.getElementById('reviewForm');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);

            fetch(`/reviews/add/${productId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.success) {
                        closeModal();
                        location.reload();
                    }
                });
        });
    }

    function editReview(reviewId) {
        fetch(`/reviews/edit/${reviewId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.form_html) {
                    document.getElementById('modalContent').innerHTML = data.form_html;
                    openModal();
                    setupEditFormSubmitHandler(reviewId);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function setupEditFormSubmitHandler(reviewId) {
        const form = document.getElementById('reviewForm');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);

            fetch(`/reviews/edit/${reviewId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        closeModal();
                        location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    }

    function deleteReview(reviewId) {
        if (confirm('Are you sure you want to delete this review?')) {
            fetch(`/reviews/delete/${reviewId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.success) {
                        location.reload();
                    }
                });
        }
    }

    function loadPage(page) {
        const reviewsContainer = document.querySelector('.reviews-container');
        const productId = '{{ product.id }}';
        const sortValue = document.getElementById('review-sort').value;

        fetch(`/reviews/sort/${productId}/?sort=${sortValue}&page=${page}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.html) {
                    reviewsContainer.innerHTML = data.html;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function sortReviews(sortValue) {
        const reviewsContainer = document.querySelector('.reviews-container');
        const productId = '{{ product.id }}';

        fetch(`/reviews/sort/${productId}/?sort=${sortValue}&page=1`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.html) {
                    reviewsContainer.innerHTML = data.html;
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<script>
    // Update displayed price when size changes
    const sizeSelector = document.getElementById('id_product_size');
    const priceDisplay = document.getElementById('product-price');

    const updateDisplayPrice = () => {
        if (sizeSelector && priceDisplay) {
            const selectedOption = sizeSelector.options[sizeSelector.selectedIndex];
            const price = selectedOption.getAttribute('data-price');
            if (price) {
                priceDisplay.textContent = `$${price}`;
            }
        }
    };

    // Set initial price on page load and automatically select the size with the matching price
    document.addEventListener('DOMContentLoaded', () => {
        updateDisplayPrice();
        const sizeSelector = document.getElementById('id_product_size');
        if (sizeSelector) {
            // Automatically select the size with the same price as the base price
            for (let option of sizeSelector.options) {
                if (option.getAttribute('data-price') == '{{ product.base_price }}') {
                    option.selected = true;
                    break;
                }
            }
        }
    });

    // Event listener for when the size changes
    if (sizeSelector) {
        sizeSelector.addEventListener('change', updateDisplayPrice);
    }
</script>
{% endblock %}