{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Overlay for background effect -->
<div class="overlay"></div>

<!-- Main container for products -->
<div class="products-container">

    <!-- Header Section for Category/Subcategory -->
    <div class="products-header">
        {% if subcategory %}
        <h1 class="products-title">{{ subcategory.friendly_name }}</h1>
        <p class="subcategory-description">
            {{ subcategory.description|safe }}
        </p>
        <title>{{ subcategory.seo_title }}</title>
        <meta name="description" content="{{ subcategory.seo_meta_description }}">
        <meta name="keywords" content="{{ subcategory.seo_keywords }}">
        {% elif category %}
        <h1 class="products-title">{{ category.friendly_name }}</h1>
        <p class="category-description">
            {{ category.description|safe }}
        </p>
        <title>{{ category.seo_title }}</title>
        <meta name="description" content="{{ category.seo_meta_description }}">
        <meta name="keywords" content="{{ category.seo_keywords }}">
        {% else %}
        <h1 class="products-title">Products</h1>
        {% endif %}
        <div class="divider"></div>
    </div>

    <!-- Product Sorting and Price Filter Section -->
    <div class="product-sort-container">
        <!-- Price Filter Inputs -->
        <div class="price-filter-container">
            <div class="price-input">
                <div class="field">
                    <span>Min</span>
                    <input type="number" class="input-min" value="1" min="0" max="100"
                        oninput="validity.valid||(value='');">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>Max</span>
                    <input type="number" class="input-max" value="100" min="0" max="100"
                        oninput="validity.valid||(value='');">
                </div>
            </div>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="1" max="100" value="1" step="1">
                <input type="range" class="range-max" min="1" max="100" value="100" step="1">
            </div>
        </div>

        <!-- Sorting Options (Price, Rating, Name, etc.) -->
        <div class="product-sort-container-left">
            <div>
                <select id="sort-selector">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to
                        high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                        to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
            <button class="sale-filter-btn" id="sale-filter-btn">Sale</button>
        </div>
    </div>

    <!-- Display number of products found -->
    <div class="product-found-amount">
        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </div>

    <!-- Product Grid: Display Products -->
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <div class="image-wrapper">
                {% if product.get_sale_price %}
                <span class="sale-badge">{{ product.sale.discount_percentage|floatformat:0 }}% OFF</span>
                {% endif %}
                {% if product.image %}
                {% if product.subcategory %}
                <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% else %}
                {% if product.subcategory %}
                <a href="{% url 'product_detail' product.category.name product.subcategory.name product.slug %}">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail_no_subcategory' product.category.name product.slug %}">
                    <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% endif %}
            </div>

            <!-- Product Details (Name, Description, Rating, Price, Add to Cart) -->
            <div class="product-details">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-description">{{ product.description }}</p>
                {% if product.rating %}
                <p class="product-rating" data-rating="{{ product.rating }}"></p>
                {% else %}
                <p class="product-rating">No Rating</p>
                {% endif %}
                <div class="price-bag-container">
                    <p class="product-price">${{ product.base_price }}</p>
                    <form class="add-to-cart-form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if product.has_sizes %}
                        {% for size in product.sizes.all %}
                        {% if size.price == product.base_price %}
                        <input type="hidden" id="product-size" name="product_size" value="{{ size.name }}">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <input type="hidden" name="quantity" value="1">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input type="submit" class="custom-button add-to-bag" value="+">
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-container">
        <div class="pagination">
            {% if products.has_previous %}
            <a href="?page=1" class="pagination-link">&laquo; First</a>
            <a href="?page={{ products.previous_page_number }}" class="pagination-link">Previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ products.number }} of {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="pagination-link">Next</a>
            <a href="?page={{ products.paginator.num_pages }}" class="pagination-link">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/product_sorting.js' %}"></script>
<script src="{% static 'products/js/product_rating.js' %}"></script>
<script src="{% static 'products/js/price_filter.js' %}"></script>
{% endblock %}